header{
    display: flex;
    height: 70px;
    background-color: rgb(232, 200, 154);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

p{
    display: flex;
    align-items: center;
}

a{
    text-decoration: wavy;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.Logo{
    display: flex;
    align-items: center;
}

.Logo img{
    width: 60px;
    height: auto;
    margin-right: 20px;

}